certifi==2018.8.24
chardet==3.0.4
Django==2.2.10
geoip2==2.9.0
get==1.0.3
httplib2==0.11.3
idna==2.7
maxminddb==1.4.1
oauth2==1.9.0.post1
post==1.0.2
public==1.0.3
pytz==2018.4
query-string==1.0.2
request==1.0.2
requests==2.19.1
six==1.11.0
urllib3==1.23
whitenoise==3.3.1
yelp==1.0.2
